layout python3

export FLASK_ENV=development

# Database
export DATABASE_URL=postgresql://localhost/{{APP_SLUG}}
export TEST_DATABASE_URL=postgresql://localhost/{{APP_SLUG}}_test

# Redis
export REDIS_URL=redis://127.0.0.1:6379

# Email
# export MAILGUN_DOMAIN=
# export MAILGUN_API_KEY=

# Don't set locally, otherwise sentry gets noisy
# export SENTRY_DSN=

# For local development server SSL settings
# export LOCAL_SSL_CERT_PATH=local.{{APP_SLUG}}.com.pem
# export LOCAL_SSL_KEY_PATH=local.{{APP_SLUG}}.com-key.pem