alembic
appdirs
blinker
certifi
chardet
click
contextlib2
Flask
Flask-Migrate
Flask-Script
Flask-Session
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
gunicorn
idna
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
passlib
psycopg2-binary
pyparsing
python-dateutil
python-dotenv
python-editor
redis
requests
sentry-sdk
six
SQLAlchemy
urllib3
Werkzeug
WTForms
