{% extends "base.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}

    <div id="dash-root" ng-app="DashRootApp" ng-controller="DashRootController as app">

        <section id="section_slug">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>Section Header</h2>
                        <p class="lead">
                            Here's a quick description.
                        </p>
                    </div><!--.col-->
                </div><!--.row-->
            </div><!--.container-->
        </section>

    </div>

{% endblock %}

{% block footer %}
    <script type="text/javascript">
        window.js_init = {{ js_init | safe}}
    </script>
    <script type="text/javascript" src="/static/js/dash-root.js"></script>
{% endblock %}