{% extends "base.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}

    <div id="dash-root">

        <section id="section_slug">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>Section Header</h2>
                        <p class="lead">
                            Here's a quick description.
                        </p>
                    </div><!--.col-->
                </div><!--.row-->
            </div><!--.container-->
        </section>

    </div>