{% extends "base.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}

    <div id="dash-root" ng-app="BaseApp" ng-controller="DashRootController as app" ng-cloak>

        {% include 'dash/nav.html' %}

        <section id="section_slug">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>Section Header</h2>
                        <p class="lead">
                            Here's a quick description.
                        </p>
                    </div><!--.col-->
                </div><!--.row-->
            </div><!--.container-->
        </section>

        {% raw %}
        <section id="users">
            <div class="container">
                <div class="row" ng-repeat="u in users">
                    <div class="col-md-12 text-center">
                        {{u.email | safe}}
                    </div>
                </div>
            </div>
        </section>
        {% endraw %}

    </div>

{% endblock %}

{% block footer %}
    <script type="text/javascript" src="/static/js/dash-root.js"></script>
{% endblock %}