{% extends "base.html" %}

{% block title %}
  404
{% endblock %}

{% block content %}

    <div id="four_oh_four">

        <section id="hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">

                        <h1>404</h1>
                        <h3>Not found :(</h3>

                        <hr>

                        <p>
                            Maybe try going to
                            {% if session['user_id'] %}
                            <a href="{{ url_for('app.dashboard') }}">your dashboard</a>
                            {% else %}
                            <a href="/">the homepage</a>
                            {% endif %}
                        </p>

                    </div><!--.col-->
                </div><!--.row-->
            </div><!--.container-->
        </section>

    </div>

{% endblock %}