{% extends "base.html" %}

{% block title %}
  404
{% endblock %}

{% block content %}

    <div id="error_page" class="h-100">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-6 text-center">

                    <h1>404</h1>
                    <h3>Not found 🗺</h3>

                    <hr>

                    <p>
                        Maybe try going to <a href="/">the homepage.</a>
                    </p>

                </div><!--.col-->
            </div><!--.row-->
        </div><!--.container-->

    </div>

{% endblock %}