{% extends "base.html" %}

{% block title %}
  500
{% endblock %}

{% block content %}

    <div id="error_page" class="h-100">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-6 text-center">

                    <h1>500</h1>
                    <h3>Our bad 😩</h3>

                    <hr>

                    <p>
                        Don't worry, <strong>we've been notified</strong> and are looking into it.<br>
                        You can try refreshing the page, it just might work this time.
                    </p>

                </div><!--.col-->
            </div><!--.row-->
        </div><!--.container-->

    </div>

{% endblock %}