<!doctype html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %}{% if self.title() %} | {% endif %}{{APP_NAME}}</title>
      <link rel="icon" type="image/png" href="/static/images/{{APP_SLUG}}-logo.png" />

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{% block description %}{% endblock %}">

      <link rel="stylesheet" type="text/css" href="/static/css/styles.css?c={{config.static_last_update}}">

      <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js" integrity="sha256-qXBd/EfAdjOA2FGrGAG+b3YBn2tn5A6bhz+LSgYD96k=" crossorigin="anonymous"></script>

      <!-- https://vuetifyjs.com/en/getting-started/installation/#usage-with-cdn -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

      <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

      {% block header %}{% endblock %}

    </head>

    <body>

        <div id="app">
            <v-app>

                <app-bar session_type="anonymous" />

                <v-main>
                    <v-container>
                        {% block content %}{% endblock %}
                    </v-container>
                </v-main>

                <v-footer app>
                    <!-- -->
                </v-footer>
            </v-app>

        </div>

    </body>

    <script type="module">
        import AppBar from './static/js/components/app-bar.js'

        Vue.component('AppBar', AppBar);
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
        })
    </script>

    {% block footer %}{% endblock %}

    <!-- insert google analytics here -->

</html>
